@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1rem;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-out;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-width: 360px;
    background: #FCFCFE;
    color: #04183E;
}

div#root {
    height: 100%;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

p {
    margin: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
}